<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marvinloco.aplicativologistico">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_auto"
        android:label="Chequeo Movimiento Vehicular"
        android:roundIcon="@mipmap/ic_launcher_auto"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Principal"
            android:label="Chequeo Movimiento Vehicular">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="Chequeo Movimiento Vehicular">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registrar"
            android:label="Chequeo Movimiento Vehicular">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menu"
            android:label="Chequeo Movimiento Vehicular">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Cuestionario"
            android:label="Chequeo Movimiento Vehicular">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Question"
            android:label="Chequeo Movimiento Vehicular">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".Cuestionario_1" />
        <activity android:name=".Cuestionario_2" />
        <activity android:name=".Cuestionario_3" />
        <activity android:name=".Question_1" />
        <activity android:name=".Question_2" />
        <activity android:name=".Question_3" />
        <activity android:name=".Datos"></activity>
    </application>

</manifest>